[Unit]
Description=Ivy cryptocurrency farm manager
After=network.target

[Service]
Type=simple
WorkingDirectory=/path/to/ivy/
ExecStart=/usr/bin/python start.py
Restart=always
RestartSec=3
