[Unit]
Description=Ivy boot script

[Service]
Type=simple
User=root
StandardOutput=journal+console
ExecStop=/usr/bin/python3.6 /home/ivy/ivy/system/on-boot.py

[Install]
WantedBy=network-online.target
