[Unit]
Description=Ivy boot script

[Service]
User=root
StandardOutput=journal+console
StandardInput=tty
ExecStart=/usr/bin/python3.6 /home/ivy/ivy/system/on-boot.py

[Install]
WantedBy=basic.target
