[Unit]
Description=Ivy boot script

[Service]
StandardOutput=journal+console
ExecStart=/usr/bin/python3.6 /home/ivy/ivy/system/on-boot.py

[Install]
WantedBy=basic.target
