[Unit]
Description=Ivy cryptocurrency mining farm manager
After=network.target

[Service]
User=root
Group=ivy
Type=simple
WorkingDirectory=/opt/ivy/
ExecStart=/usr/bin/xvfb-run /usr/bin/python3.6 /opt/ivy/start.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
