[Unit]
Description=Ivy cryptocurrency mining farm manager
After=network.target

[Service]
User=root
Group=ivy
Type=simple
WorkingDirectory=/opt/ivy/
ExecStart=/usr/bin/xinit /usr/bin/python3.6 /opt/ivy/start.py -- :99
ExecStop=/usr/bin/python3.6 /opt/ivy/stop.py
ExecStopPost=/bin/rm -f /etc/ivy/.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
